@font-face {
  font-family: 'Lovely-Font';
  src: url('/fonts/Neoneon1.otf');
}

.main {
  margin-top: 30%;
  padding: 1rem;
  border-radius: 2rem;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.element {
  zoom: 3;
  font-family: Lovely-Font;
  height: 5rem;
  margin: 5px;
  text-align: center;
  line-height: 5rem;
  color: rgb(201,241,248);
  border: 3px solid lavender;
  border-radius: 2rem;
  min-width: 20rem;
}

.link {
  font-size: 2rem;
  text-decoration: none;
}

body {
    align-items: center;
    justify-content: center;
}